.container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 20px
    height: 100%
    padding: 20px

.title_container
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    gap: 10px

.card
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 8px

.weapons_and_stats
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    gap: 12px

.armor_talismans_and_defences
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    gap: 12px
    
.armor_talismans
    display: flex
    flex-direction: column
    gap: 20px
