.title
    display: flex
    justify-content: center
    background: black
    border: solid 2px white
    height: 64px
    border-radius: 10px

.title_text
    color: white
    font-size: 30px
    text-align: center