.button
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    gap: 10px
    width: 100%
    border-radius: 10px
    border: solid 1px white
    background-color: #786E39BF
    padding: 10px

.label
    font-size: 28px
