.modal
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.5)

.modal_menu
    height: 200px
    width: 95%
    background: black
    border-radius: 10px
    border: solid 2px white
    display: flex
    flex-direction: column

.close_container
    position: absolute
    height: 30px
    width: 30px
    right: 0px
    top: 4px
    
.close_vertical
    position: absolute
    top: 2px
    left: 12px
    height: 22px
    width: 3px
    background-color: white
    transform: rotate(45deg)

.close_horizontal
    position: absolute
    left: 2px
    top: 12px
    width: 22px
    height: 3px
    background-color: white
    transform: rotate(45deg)

.content
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px
    width: 100%
    margin-top: 36px
    height: 160px
    padding: 0px 20px 20px 20px

.text_row
    
.text
    text-align: center

.button_row
    display: flex
    flex-direction: row
    gap: 20px
    justify-content: center
    align-items: center

.confirm
    width: 50%

.decline
    width: 50%