.container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 20px
    height: 100%
    width: 100%
    padding: 20px

.title_container
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    gap: 10px

.text_input
    background-color: black
    border-radius: 10px
    padding-left: 10px
    border: 2px solid white

.card
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start

.item
    width: 50%
    height: calc(100%/3)
